---
- name: "Get the distribution specific variables"
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version }}.yml"
        - "{{ ansible_distribution | lower }}-{{ (ansible_distribution_version.split('.') | first) }}.yml"
      paths:
        - "{{ role_path }}/vars"

- name: "Install python and accesory packages"
  ansible.builtin.include_tasks: "package.yml"

- name: "Ensure pip is properly installed"
  ansible.builtin.include_tasks: "pip.yml"

- name: "Ensure uv is available if desired"
  ansible.builtin.include_tasks: "uv.yml"
  when: python_uv_install
