---
- name: "Make sure PPA is enabled"
  ansible.builtin.apt_repository:
    repo: "ppa:deadsnakes/ppa"
    mode: "0644"
  when: python_versions|length > 0

- name: "Make sure the packages are installed"
  ansible.builtin.apt:
    pkg: "{{ python_packages_add }}"
    state: "present"
    update_cache: true
  when: python_packages_add|default([])|length > 0

- name: "Make sure old packages are removed"
  ansible.builtin.apt:
    pkg: "{{ python_packages_remove }}"
    state: "absent"
  when: python_packages_remove|default([])|length > 0

- name: "Install additional (legacy) python versions, if requested"
  ansible.builtin.apt:
    pkg:
      - "python{{ item }}"
      - "python{{ item }}-distutils"
      - "python{{ item }}-dev"
      - "python{{ item }}-venv"
    state: "present"
  with_items: "{{ python_versions }}"
  when: item|float < 3.12

- name: "Install additional python versions, if requested"
  ansible.builtin.apt:
    pkg:
      - "python{{ item }}"
      - "python{{ item }}-dev"
      - "python{{ item }}-venv"
    state: "present"
  with_items: "{{ python_versions }}"
  when: item|float >= 3.12
